@import "tailwindcss";

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 6rem;
  box-sizing: border-box;
}

@theme {
  --font-sans: var(--font-sans);
  --font-signature: var(--font-signature);
  --font-signatureb: var(--font-signatureb);
  --font-mono: var(--font-mono);
  --color-bg: theme(colors.slate.50);
  --color-bg-secondary: theme(colors.white);
  --color-bg-tertiary: theme(colors.slate.200);
  --color-accent: theme(colors.sky.500);
  --color-accent-light: theme(colors.sky.500/0.1);
  --color-text: theme(colors.slate.600);
  --color-dark-1: theme(colors.slate.900);
  --color-dark-2: theme(colors.slate.700);
  --color-dark-3: theme(colors.slate.300);
}

.heading-secondary {
  @apply text-3xl sm:text-4xl capitalize font-medium mb-8 sm:mb-12 text-dark-2;
}
